bin/
docs/
.idea/
htmlReport/
jacoco.exec
report.xml
/tebEnFctSNR.csv
/tebEnFctSNRetTM.csv
*.docx
/tebEnFctSNR_codeur.csv
/tebEnFctSNR_Theo.csv
/tebEnFctSNRetTM_egaliseur.csv
/tebEnFctSNRetTM_ss_egaliseur.csv
